
header {
    box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4);
}
.headroom--not-top .main-menu nav ul li a{
    line-height: 65px;
}
.headroom--not-top .main-menu nav ul.dropdown li a{
    line-height: inherit;
}
.headroom--not-top .menu-search-cart .header-search-cart{
    margin-top: 18px;
}
.headroom--not-top{
    opacity: .75;
}
.headroom--not-top ul.dropdown{
    opacity: 1;
}
.logo img, .footer-logo img{
    width: 160px;
}

.input-group-append{
    position: relative;
}
.input-group-append:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    top: 50%;
    border: 8px solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
a.view-link {
    color: #535353;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #535353;
    padding-bottom: 5px;
}
a.view-link:hover{
    color: #ee3333;
    border-color: #ee3333;
}
section.bg-light{
    background-color: #f4f4f4 !important;
}
.brand-logo-img img{
    background-color: #fff;
    padding: 10px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
section{
    padding-bottom: 4em;
    padding-top: 4em;
}
section.slider{
    padding-bottom: 0;
    padding-top: 0;
}
.section-header{
    padding: 0px 10px;
}

.copy-right{
    text-align: left;
    font-size: 12px;
    color: #919191;
}
.new-action {
    border: 1px solid #ccc;
    border-radius: 20px;
    display: inline-block;
    margin-top: 24px;
    padding: 3px 6px 3px;
}
.mixedSlider .MS-content .item .new-action > a {
    color: #474747;
    line-height: 1;
    padding: 0 18px;
    position: relative;
    font-size: 19px;
}
.mixedSlider .MS-content .item .new-action > a:hover, .mixedSlider .MS-content .item a.product-name:hover{
    color: #ee3333;
}
.new-action > a:before {
    background: #cccccc none repeat scroll 0 0;
    content: "";
    height: 21px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
}
.new-action > a:last-child:before {
    content: none;
}
.mixedSlider .MS-content .item a.product-name, .mixedSlider .MS-content .item .price-right {
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
}

.rectangular-box {
    position: absolute;
    bottom: 5px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.product-img img, .top-rated-img img, .modal-body img, .single-banner-3, .banner-area img, .blog-img img{
    border-radius: 8px;
}
.rectangular-box{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.product-color-style2 > ul li {
    border-radius: 0;
}
/* Dropdown Filter */
.single-banner4{
    padding-bottom: 5px;
}
.sidebar-filter{
    background-color: #f4f4f4;
   
    width: 100%;
}
.group-cover li.group-element{
    border-bottom: 2px solid #dedede;
    line-height: 30px;
    padding: 8px 10px;
}
.group-cover li.group-element:hover{
    border-color: #ee3333;
    transition: all 0.3s ease 0s;
}
.inline-items{
   display: flex;
   justify-content: space-between;
   line-height: 39px;
   padding: 0px 10px;
}
.inline-items input{
    height: auto;
    width: auto;
    vertical-align: middle;
}
.group-head{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.group-cover li:last-child{
    border: none;
}
.group-cover li h5{
    margin: 0;
    line-height: 30px;
    font-size: 16px;
}
.grouplist-cover{
    background-color: #ffffff;
}
span.load-more-style.border-0 {
    cursor: pointer;
}
span.load-more-style.border-0:hover {
    color: #ee3333;
}
.product-img span.category-name {
    bottom: 0;
    top: 90%;
    left: 0;
}
.product-color-style2 > ul li{
    border-radius: 0px;
    cursor: pointer;
    display: block;
    float: left;
    height: auto;
    margin-right: 0px;
    text-indent: -9999px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: auto;
    margin-right: 10px;
    border: 2px solid transparent;
}
.product-color-style2 > ul li:hover{
    border: 2px solid #ee3333;
}
.product-color-style2 > ul li.selected{
    border: 2px solid #ee3333;
}


.product-color-style2 > ul li span{
    border-radius: 50px;
    cursor: pointer;
    display: block;
    text-indent: -9999px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    position: relative;
    margin: 3px;
    height: 25px;
    width: 25px;
    
}

.product-color-style2 > ul li span.orange:before{
    color: #fff;
    content: "ï½";
    font-family: "Ionicons";
    font-size: 18px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-indent: inherit;
    top: -2px;
    z-index: 99;
 
}
.product-color-style2 > ul li span.orange {
    background: #ff5d42 none repeat scroll 0 0;
    position: relative;
}
.product-tags .blog-tags-style li a{
    padding: 10px 13px;
    font-size: 13px;
}
.product-cat-tag li.categories-title{
    font-weight: normal;
}
.product-cat-tag li{
    font-weight: 600;
}
.product-color-style2 > ul li span.blue2 {
    background: #425dff none repeat scroll 0 0;
}
.product-color-style2 > ul li span.pink {
    background: #fd42ff none repeat scroll 0 0;
}
.product-color-style2 > ul li span.yellow {
    background: #ffd542 none repeat scroll 0 0;
}

/* Thumbnail slider */
.thumb-control a {
    position: absolute;
    top: 50%;
    font-size: 28px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.thumb-control a.prev {
    left: 5px;
}
.thumb-control a.next {
    right: 5px;
}
.thumb img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  .thumb img:hover {
    opacity: 1;
  }
  .thumb.active {
    opacity: 1;
    cursor: default;
  }
  .thumb.active img {
    opacity: 1;
    cursor: default;
  }
.qwick-view-left{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.thumb-control a.prev {
    left: -50px;
  }
  .thumb-control a.next {
    right: -50px;
  }
  .qwick-view-left:hover .thumb-control a.prev {
    opacity: 0.7;
    left: 5px;
  }
  .qwick-view-left:hover .thumb-control a.prev:hover {
    opacity: 1;
  }
  .qwick-view-left:hover .thumb-control a.next {
    opacity: 0.7;
    right: 5px;
  }
  .qwick-view-left:hover .thumb-control a.prev:hover {
    opacity: 1;
  }

  /* Cart and Wishlist */
  .cart-header{
      background-color: #f6f6f6;
  }
  .cart-header h5{
    padding: 15px 10px 12px;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    color: #555555;
}
.card img{
    width: 100%;
}
.product-disc{
    color: #ee3333;
}
.card input{
    height: auto;
    width: auto;
    vertical-align: middle;
}
.card .product-name a{
    font-weight: 600;
}
.product-quantity input{
    width: 60px;
}
.cart-btn .cart-btn-style{
    margin-right: 8px;
    border: 0 none;
    border-radius: 2px;
    /* color: #fff; */
    font-size: 12px;
    padding: 11px 13px;
    /* background-color: #333; */
}
.cart-btn .cart-btn-style:last-child{
    margin-right: 0px;
}
.cart-page-total > ul{
    border: 0;
    overflow: auto;
    max-height: 310px;
}
.cart-page-total > ul li{
    border: 0;
    font-weight: normal;
}
.cart-page-total .total-amount{
    font-weight: 600;
}
.cart-page-total > h2{
    font-weight: inherit;
    font-size: 22px;
}
hr{
    margin: 30px 0px;
}
.cart-page-total {
    padding-top: 0px;
    border-left: 1px solid #f0f0f0;
    padding-left: 10px;
}
.cart-page-total  a:hover {
    background-color: #ee3333;
    color: #fff;
    border: 1px solid #ee3333;
}
.cart-page-total  a {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    padding: 11px 13px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    border-radius: 6px;
    font-weight: 500;
    line-height: 14px;
}
.cart-page-total  a.cart-btn-style{
    background-color: #fff;
    color: #333;
}
.cart-page-total  a.cart-btn-style:hover{
    background-color: #ee3333;
    color: #fff;
}
.single-product-cart .row{
    width: 100%;
}
.wrap-sidebar{
    padding: 10px;
}
.cart-content ul{
    margin-top: 0px;
    max-height: 390px;
    overflow: auto;
}
.sidebar-cart.inside {
    right: 30px;
    top: 75px;
    box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4);
}
.sidebar-cart{
    top: 75px;
    height: auto;
}
.cart-title{
    margin: 0px;
    margin-left: 10px;
}
.minicart-link a{
    text-decoration: underline;
}
.cart-content{
    font-size: 12px;
}
.no-scroll{
    overflow: hidden;
}
.cart-checkout-btn {
    padding: 15px 0px;
    border-top: 1px solid #f0f0f0;
}
.cart-checkout-btn .cart-btn-style{
    padding: 11px 13px;
    font-size: 12px;
}



/* Footer */

.footer-social-media > li {
    margin-right: 15px;
}
.footer-social-media a {
    border: 1px solid #3f3f3f;
    border-radius: 50px;
    color: #585858;
    display: inline-block;
    height: 30px;
    text-align: center;
    width: 30px;
}
.footer-social-media a i {
    line-height: 29px;
}
.footer-social-media a:hover {
    border: 1px solid #ee3333;
    background-color: #ee3333;
    color: #f5f5f5;
}
footer .input-group-append button.btn{
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    height: 45px;
    vertical-align: middle;

}
.footer-widget p{
    margin: 0;
}
.footer-widget{
    margin-bottom: 10px;
}

.footer-title {
    color: #313131;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 9px;
    text-transform: uppercase;
}


/* Media Queries*/
@media(min-width: 768px){
    .section-header{
        padding: 0px 0px;
    }
}